DJANGO_ADMIN_URL=admin/
DJANGO_SECRET_KEY=secret_key
DEBUG=true
DOCKERIZED=0 # 0 or 1

AWS_ACCESS_KEY_ID=id
AWS_SECRET_ACCESS_KEY=key
AWS_STORAGE_BUCKET_NAME=bucket
AWS_S3_REGION_NAME=region
AWS_BACKUP_STORAGE_BUCKET_NAME=backup_bucket
AWS_BACKUP_STORAGE_PATH=backups/

SENDER_EMAIL=email
EMAIL_HOST=host
EMAIL_PORT=port
EMAIL_HOST_USER=user
EMAIL_HOST_PASSWORD=password

GOOGLE_CLIENT_ID=id

CELERY_BROKER_URL= amqp://guest:guest@rabbitmq:5672// #pragma: allowlist secret
CELERY_RESULT_BACKEND= db+postgresql://postgres:postgres@postgres:5432/djangoindia-db #pragma: allowlist secret

POSTGRES_DB=djangoindia-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@djangoindia.org
DJANGO_SUPERUSER_PASSWORD=admin

# for running with docker, else put these variables inside .env in frontend folder

# Server-side URL (not prefixed with NEXT_PUBLIC_)
API_URL=http://djangoindia-backend:8000/api/v1
# without docker: API_URL=http://localhost:8000/api/v1

# Client-side URL (prefixed with NEXT_PUBLIC_)
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_NODE_ENV=development

NEXT_PUBLIC_COMMUNITY_PARTNER_FORM = 
NEXT_PUBLIC_SPONSOR_FORM = 
NEXT_PUBLIC_EVENT_VOLUNTEER_FORM =  
NEXT_PUBLIC_SPONSOR_URL = 
