asgiref==3.8.1
cffi==1.16.0
cfgv==3.4.0
distlib==0.3.8
Django==4.2.13
djangorestframework==3.15.1
filelock==3.14.0
identify==2.5.36
nodeenv==1.8.0
platformdirs==4.2.2
pre-commit==3.7.1
pycparser==2.22
python-dotenv==1.0.1
PyYAML==6.0.1
sqlparse==0.5.0
virtualenv==20.26.2
whitenoise
